<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxZ-1ej_GSQVwr3XLULmMSf7nzkRfiKAw</string>
	<key>GCM_SENDER_ID</key>
	<string>340073728155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jep.LoginIOS</string>
	<key>PROJECT_ID</key>
	<string>loginios-e440d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginios-e440d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340073728155:ios:f934b336a00950fb7f1e3e</string>
</dict>
</plist>